
.header__container{
    width: 100%;
    max-width: 1773px;
    min-height: 821px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/Images/bluemountain.png);
}   

.header__top{
    width: 100%;
    max-width: 372px;
    min-height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .header__title{
        width: 100%;
        max-width: 342px;
        min-height: 26px;
        color:#ffffff;
        font-size: 48px;
        font-weight: bold;
        font-family:"Josefin Sans", sans-serif;
        letter-spacing: 1px;
        margin: 0 auto;
    }

    .header__subtitle{
        width: 100%;
        /*max-width: 345px;*/
        min-height: 26px;
        font-size:22px;
        font-family:"Josefin Sans", sans-serif;
        letter-spacing:5px;
        margin:0 auto; 
        
        color:#ffffff;
        font-weight:300;
    }
    
    .header__form{
        width: 100%;
        max-width: 653px;
        min-height: 63px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;   
       
    }

    .header__form-input{
       width: 100%;
       max-width: 503px;
       height: 2rem;
       font-size: 9px;
       font-family:"Josefin Sans", sans-serif;
       color: #999999;
       letter-spacing: 2px;
       text-align: start;
       padding-left: 40px;
       border-style: none;
    }

   %button {
        width:100%;
        max-width: 228px;
        min-height: 63px;
        font-family:"Aleo", serif;
        background-color:#5474FD;
        color:#ffffff;
        border-style: none;
        letter-spacing: 1px;
        padding: 20px;
        cursor: pointer;
        font-size: 6px;
        // width: 3.4rem;
        // height: 1rem;
        // position: absolute;
        // top: 60px;
        // right: 49px;
   }   
    
    .header__button{
         @extend %button;
         &:hover{
            background-color: rgb(182, 182, 241);
            color: rgb(1, 1, 143);
            transition: all 0.3s ease;
            }   
    }   


   /* &__wrapper{
        width: 100%;
        max-width: 1770px;
        min-height: 821px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__top{
        width: 100%;
        min-height: 730px;
        margin: 0 auto;
        color:#ffffff;
    //     display: flex;
    //     justify-content: center;
    }    
}*/

