
@mixin button {
    width:100%;
    max-width: 228px;
    min-height: 63px;
    font-family: $font-first;
    background-color: $bgcolor;
    color:$textcolor;
    border-style: none;
    letter-spacing: 1px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
     
     &:hover{
        background-color: rgb(182, 182, 241);
        color: rgb(1, 1, 143);
     }
}

h2 {
    font-family:$font-first ;
    font-size:36px;  
}

h3{
    font-family:$font-second;
}

p{
    font-family:$font-second;
    color: variables.$pcolor;
    font-size: 16px;
}
