@use './fonts';

@import './variables';
@import './header';
@import './main';
@import './footer';

html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
